name: Android CI

on:
  push:
    branches: [ main-attachments ]
  pull_request:
    branches: [ main-attachments ]
    
  workflow_dispatch:

jobs:
  build:

    runs-on: self-hosted

    env:
      ImageOS: ubuntu18
    
    steps:
    - uses: actions/checkout@v3

    - name: Set up ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Grant execute permission for gradlew
      run: |
        chmod +x gradlew
        echo $ANDROID_SDK_ROOT

    - name: Prepare build
      run: |
        echo "${{ secrets.SIGNKEY }}" | base64 -d > ./app/key.jks

    - name: Build dependencies
      run: |
        ./gradlew :app:dependencies --configuration genericReleaseRuntimeClasspath < /dev/null

    - name: Build main application
      run: ./gradlew build release

